.app-highlight {
    color: #fff;
    background: #1d70b8;
    padding: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

@media (min-width: 40.0625em) {
    .app-highlight {
        padding: 20px;
        margin-bottom: 20px;
    }
}

.app-highlight__title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.app-highlight__figure {
    font-weight: 700;
    font-size: 36px;
    margin: 0 0 -5px;
}

.app-task-list__group-header-hint {
    margin: 5px 0;
}

.app-task-list__group-header-tag {
    margin-top: -5px;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
    .app-task-list__group-header {
        display: flex;
        align-items: center;
    }

    .app-task-list__group-header-tag {
        float: right;
    }
}

.app-checkboxes__select-all {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #b1b4b6;
}

.app-dl-inline {
    overflow: hidden;
}

.app-dl-inline__title {
    clear: both;
    float: left;
    margin-right: .3em;
}

.app-dl-inline__title:after {
    content: ':';
}

.app-dl-inline__definition {
    font-weight: 700;
    margin: 0;
    float: left;
}

.app-highlight__footer {
    background: #dbd9d6;
    margin: 0 -15px -15px -15px;
    padding: 10px 15px;
}

@media (min-width: 40.0625em) {
    .app-highlight__footer {
        margin: 0 -20px -25px -20px;
        padding: 15px 20px;
    }
}

.app-highlight__footer p:last-child {
    margin: 0
}

