@{
    ViewData["Title"] = "Home";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Levy Transfer & Matching
            </h1>
        </div>
    </div>
</main>