@{
    ViewData["Title"] = "Find a business to fund training for your apprentices";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Find a business to fund training for your apprentices
                </h1>
            </div>
            <div class="govuk-grid-column-two-thirds">

                <p>
                    As a business of any size, you can use this service to apply for funding from large businesses that want to fund 100% of your apprenticeship training costs.
                </p>
                <p>
                    They can fund your apprenticeship training by transferring some of their apprenticeship levy.
                </p>
                <p>
                    <strong>As a business looking for this funding, you will need:</strong>
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>an apprenticeship service account to apply for and receive funding</li>
                    <li>to think about the type of apprenticeship training you need</li>
                    <li>to think about how many apprentices you need</li>
                </ul>

                <p>
                    <strong>You can:</strong>
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>browse details of funding opportunities</li>
                    <li>apply to be considered for funding</li>
                    <li>apply to more than one opportunity</li>
                </ul>

                <a asp-controller="SearchFunding" role="button" class="govuk-button govuk-button--start">
                    Start now
                </a>

                <h2 class="govuk-heading-m">
                    Getting 95% apprenticeship funding from the government instead
                </h2>

                <p>
                    Businesses that don't pay the apprenticeship levy can get 95% of their apprenticeship training costs funded by the government, so they only pay 5%.
                </p>
                <p>
                    So if you're unsuccessful in getting funding from a large business to pay for 100% of your training costs, you'll still only have to pay 5%.
                </p>
                <p>
                    To get 95% government funding you'll need to log into or register for an <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/360009582419-Apprenticeship-service-account" target="_blank" rel="noopener noreferrer">apprenticeship service account</a>.
                </p>
            </div>
        </div>
    </div>
</main>