@model SFA.DAS.LevyTransferMatching.Web.Models.SearchFunding.SearchFundingViewModel

@{
    ViewData["Title"] = "Search funding opportunities";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-m">Find a business to fund training for your apprentices</span>
                <h1 class="govuk-heading-xl">
                    Search funding opportunities
                </h1>
                <p>Large businesses that want to fund the apprenticeships of other businesses can set funding criteria to show the training they want to support.</p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">Examples</span>
                    </summary>
                    <div class="govuk-details__text">
                        <strong>Example 1</strong><br>
                        A large business might choose to fund apprenticeships in construction companies based in the West Midlands.
                        <br>
                        <br>
                        <strong>Example 2</strong><br>
                        A large business might choose to fund digital apprenticeships in any sector in the North East.
                    </div>
                </details>
                <p>You can use the 4 criteria below to see which funding opportunities your business matches.</p>
                <p>Or you an browse all opportunities available.</p>
                <p>Some businesses have chosen not to share their organisation's name publicly so these opportunities just show a reference number. If your application is successful, we'll let you know who the employer willing to fund your apprenticeship training is.</p>
                <h2 class="govuk-heading-m">@Model.Opportunities.Count() opportunities</h2>
                <table class="govuk-table">
                    @foreach (var opportunity in Model.Opportunities)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@(string.IsNullOrEmpty(opportunity.EmployerName) ? "Opportunity" : opportunity.EmployerName) (@opportunity.ReferenceNumber)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</main>