@model SFA.DAS.LevyTransferMatching.Web.Models.Applications.ApplicationStatusViewModel

@{
    ViewData["Title"] = $"Your {(Model.IsNamePublic ? Model.EmployerAccountName : "opportunity")} ({Model.EncodedOpportunityId}) application details";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">

    <div class="govuk-width-container form-entry">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <a href="@Url.Action("GetApplications")" class="govuk-back-link">Back</a>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                <div class="govuk-warning-text application-status-one">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Application status: <span class="govuk-tag govuk-tag--grey">Awaiting approval</span>
                    </strong>
                </div>

                <!--
                    <div class="govuk-warning-text application-status-one-accepted">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            <span class="govuk-tag govuk-tag--blue">approved, awaiting your acceptance</span> Barry & Barry Ltd have approved your application - <strong id="date-stamp"></strong>
                        </strong>
                    </div>
                -->

                <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">About your apprenticeship training course</h2>
                </div>

                <section class="employer-contact-details">
                    <p><strong>Apprenticeship training course:</strong> Engineer surveyor (level 4)</p>
                    <p><strong>Number of apprentices:</strong> 2</p>
                    <p><strong>Estimated total cost:</strong> £25,000</p>
                    <p><strong>Apprenticeship training to start by:</strong> 10/2021</p>
                </section>

            </div>

            <div class="govuk-grid-column-one-third">
                <partial name="_OpportunitySummary" for="OpportunitySummaryViewModel" />
            </div>

        </div>

    </div>

</main>