@{
    ViewData["Title"] = "You have withdrawn your application";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel--confirmation application-complete govuk-!-margin-bottom-9">
                    <h1 class="govuk-panel__title">You have withdrawn your application</h1>
                </div>

            </div>
        </div>

    </div>
</main>