@model ErrorViewModel
@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator LinkGenerator
@{
    ViewData["Title"] = "Page not found";
}
<h1 class="text-danger">Page not found.</h1>
<h2 class="text-danger">The page that you were looking for was not found.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


<p><a class="button" href="@Url.Action("Index", "Home")">Return to home</a></p>