@using SFA.DAS.LevyTransferMatching.Domain.Types

@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.AutoApproveViewModel
@{
    ViewData["Title"] = "Pledges";
    ViewBag.GaData.Vpv = "/accounts/pledges/create/auto-approval";
}

<a href="@Url.Action("Create", "CreatePledge", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Do you want to approve 100% matches immediately?</h1>
            <p class="govuk-body-l govuk-hint">100% matches are funding applications that match all of the criteria you have set.</p>
            <form method="post">                
                <div class="govuk-form-group" das-highlight-error-for="AutomaticApprovalOption" error-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <span das-validation-for="AutomaticApprovalOption" class="govuk-error-message"></span>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="AutomaticApprovalOption" asp-for="AutomaticApprovalOption" type="radio" value="@AutomaticApprovalOption.ImmediateAutoApproval" das-highlight-error-for="AutomaticApprovalOption" error-class="govuk-textarea--error" />
                                <label class="govuk-label govuk-radios__label" for="AutomaticApprovalOption">
                                    Yes, automatically approve 100% matches immediately
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="AutoApproveFullMatches-2" asp-for="AutomaticApprovalOption" type="radio" value="@AutomaticApprovalOption.DelayedAutoApproval" das-highlight-error-for="AutomaticApprovalOption" error-class="govuk-textarea--error" />
                                <label class="govuk-label govuk-radios__label" for="AutoApproveFullMatches-2">
                                    No, I would like 6 weeks to approve or reject 100% matches. If I do not take any action in 6 weeks, they will be approved automatically
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button class="govuk-button pledge-amount-continue" id="pledge-criteria-continue">Save and continue</button>
                </div>
            </form>
        </div>
    </div>
</main>