@using SFA.DAS.LevyTransferMatching.Web.Extensions
@using SFA.DAS.LevyTransferMatching.Web.Models.Pledges
@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.InformViewModel

@{
    ViewData["Title"] = "Pledges";
    ViewBag.GaData.Vpv = "/accounts/pledges/create/inform";
    ViewBag.ZenDeskLabel = "LTM-S-start";
}

<a href="@Url.FinanceLink($"accounts/{Model.EncodedAccountId}/transfers")" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Pledge and transfer your levy funds</h1>
            <p>To help you find another business to transfer your levy funding to, you can:</p>
            <ol class="govuk-list govuk-list--number">
                <li>Create a public funding pledge that is searchable online</li>
                <li>Set your criteria of how you want to spend your levy</li>
                <li>Review and approve applications</li>
                <li>Choose how you want to approve the apprenticeship details</li>
            </ol>
            <h2 class="govuk-heading-s">Funding rules</h2>
            <p>To make a transfer you must comply with the <a class="govuk-link" href="https://www.gov.uk/guidance/apprenticeship-funding-rules" target="_blank" rel="noopener">apprenticeship funding rules</a>.</p>
            <p>This includes not seeking or accepting any payments in exchange for sending a transfer of funds.</p>
            <p>Find out more about <a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds" class="govuk-link" target="_blank" rel="noopener">transferring your levy funds</a>.</p>
            <div class="govuk-button-group govuk-!-margin-top-5">
                <a class="govuk-button" data-module="govuk-button" href="@Url.Action("Create", "CreatePledge", new CreateRequest { EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey }, true)">Start</a>
                <a class="govuk-link" href="@Url.FinanceLink($"accounts/{Model.EncodedAccountId}/transfers")">Cancel pledge</a>
            </div>
        </div>
    </div>
</main>