@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.JobRoleViewModel
@{
    ViewData["Title"] = "Pledges";
    ViewBag.GaData.Vpv = "/accounts/pledges/create/job-role";
}

<a href="@Url.Action("Create", "CreatePledge", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Choose the types of job role you'd like to fund</h1>

            <div class="das-highlight govuk-!-padding-bottom-2">
                <p><strong>The current sectors you'd like to support are:</strong></p>
                @if (Model.AreAllSectorsSelected)
                {
                    <ul class="govuk-list govuk-list--bullet">
                        <li>All sectors and industries</li>
                    </ul>
                }
                else
                {
                    <unordered-list asp-for="Sectors" source="@Model.SectorOptions" class="govuk-list govuk-list--bullet"></unordered-list>
                }
            </div>

            <p>
                You could choose to support all types of job role in these sectors, or you
                may only want to fund specific job roles.
            </p>
            <p>
                For example, if you have chosen to support the health and science sector,
                would you want to support a business administrator apprentice in that sector,
                or do you only want to support health and science job roles such as nursing?
            </p>
            <p>
                You can decide the type of job roles you want to support below.
            </p>

            <form method="post">

                <div class="govuk-form-group" das-highlight-error-for="JobRoles" error-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset" data-checkboxes-select-all="true" data-checkboxes-select-all-label="All types of job role">

                        <span das-validation-for="JobRoles" class="govuk-error-message"></span>
                        <checkbox-list asp-for="JobRoles" source="@Model.JobRoleOptions" show-description="true"></checkbox-list>

                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button id="pledge-criteria-continue" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>

            </form>
        </div>
    </div>
</main>
