@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.SectorViewModel
@{
    ViewData["Title"] = "Pledges";
    ViewBag.GaData.Vpv = "/accounts/pledges/create/sector";
    ViewBag.ZenDeskLabel = "LTM-S-pledge-sector";
}

<a href="@Url.Action("Create", "CreatePledge", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Choose the sectors you'd like to fund</h1>
            <form method="post">

                <div class="govuk-form-group" das-highlight-error-for="Sectors" error-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset" data-checkboxes-select-all="true" data-checkboxes-select-all-label="All sectors and industries">

                        <span das-validation-for="Sectors" class="govuk-error-message"></span>
                        <checkbox-list asp-for="Sectors" source="@Model.SectorOptions"></checkbox-list>

                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button id="pledge-criteria-continue" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>

            </form>
        </div>
    </div>
</main>
