@using SFA.DAS.LevyTransferMatching.Web.Models.Opportunities
@model SFA.DAS.LevyTransferMatching.Web.Models.Opportunities.ApplicationDetailsViewModel
@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator LinkGenerator
@{
    ViewData["Title"] = "Apprenticeship Training";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <!-- ERROR MESSAGE - START -->
                <div class="govuk-error-summary funding-over" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" style="display: none;">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#pledge-application-apprentices">There is not enough funding to support this many apprentices</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ERROR MESSAGE - END -->

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <span class="govuk-caption-m">Search and apply for pledges in England</span>
                <h1 class="govuk-heading-xl">Apprenticeship training</h1>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form class="start-search-page" action="1-application-core#pledge-section-one" method="post">

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="pledge-application-standard">Job role</label>
                        <div class="govuk-hint">
                            Start typing a job role or keywords to find an apprenticeship training course
                            <br>
                            You can search and browse courses on <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/" target="_blank">Find apprenticeship training</a>.
                        </div>
                        <input class="govuk-input govuk-input--width-20" id="pledge-application-standard" name="pledge-application-standard" type="text" value="" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                    </div>

                    <div class="govuk-form-group" id="how-many-apprentices">
                        <label class="govuk-label govuk-label--s" for="pledge-application-apprentices">How many apprentices do you want to fund?</label>
                        <span id="apprentices-error" class="govuk-error-message" style="display: none;">
                            <span class="govuk-visually-hidden">Error:</span> There is not enough funding to support this many apprentices
                        </span>
                        <input class="govuk-input govuk-input--width-5" id="pledge-application-apprentices" name="pledge-application-apprentices" type="text" value="">
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="pledge-application-start-hint">
                            <legend class="govuk-fieldset__legend">
                                <h1 class="govuk-fieldset__heading govuk-label--s">When would you like the apprenticeship training to start by?</h1>
                            </legend>
                            <div id="pledge-application-start-hint" class="govuk-hint">For example, 11 2007</div>
                            <div class="govuk-date-input" id="pledge-application-start">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="pledge-application-start-month">Month</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="pledge-application-start-month" name="pledge-application-start-month" type="text" pattern="[0-9]*" inputmode="numeric" value="">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="pledge-application-start-year">Year</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="pledge-application-start-year" name="pledge-application-start-year" type="text" pattern="[0-9]*" inputmode="numeric" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group" id="apprenticeship-cost">
                        <div class="total">
                            <p>In 2021/22 your apprenticeship training will cost:</p>
                            <p class="number">£<span class="value-format currSign">10,000</span></p>
                        </div>
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend">
                                <h1 class="govuk-fieldset__heading govuk-label--s">Have you found a training provider?</h1>
                            </legend>
                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="pledge-application-training-provider-yes" name="pledge-application-training-provider" type="radio" value="Yes">
                                    <label class="govuk-label govuk-radios__label" for="pledge-application-training-provider-yes">Yes</label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="pledge-application-training-provider-no" name="pledge-application-training-provider" type="radio" value="No I want to see apprenticeship training providers" aria-controls="conditional-pledge-application-training-provider-no" aria-expanded="false">
                                    <label class="govuk-label govuk-radios__label" for="pledge-application-training-provider-no">No, show me apprenticeship training providers</label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-pledge-application-training-provider-no">
                                    <div class="govuk-form-group">
                                        <p>Search for <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/" target="_blank">apprenticeship training courses and training providers</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <!-- <div class="govuk-warning-text">
                         <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                         <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span> Your application exceeds the transfer funding set by <span class="pledge-name-answer">####</span>. We will notify them of this.</strong>
                    </div> -->

                    <button class="govuk-button" data-module="govuk-button" id="application-apprentice-details">Continue</button>

                    <a href="javascript:history.back()" class="govuk-link govuk-link--no-visited-state govuk-link-secondary govuk-back-link" id="">Back</a>

                </form>

            </div>

            <div class="govuk-grid-column-one-third">
                <section class="employer-details side-panel">
                    <p class="govuk-heading-s"><span class="pledge-name-answer">BARRY &amp; BARRY Ltd (910106)</span> wants to fund apprenticeship training in:</p>
                    <p class="details">
                        Location: <strong class="pledge-location-answer">West Midlands</strong><br>
                        Sector: <strong class="pledge-sector-answer">Construction</strong><br>
                        Type of job role: <strong class="pledge-training-answer">All</strong><br>
                        Level: <strong class="pledge-level-answer">3, 4 and 5</strong>
                    </p>
                    <div class="total">
                        <p class="govuk-heading-s">Total funding available:<br>up to £<span class="pledge-value-answer value-format currSign">100,000</span> in 2021/22</p>
                    </div>
                </section>
            </div>

        </div>

    </div>


</main>