@model SFA.DAS.LevyTransferMatching.Web.Models.Opportunities.SectorViewModel
@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator LinkGenerator
@{
    ViewData["Title"] = "Apprenticeship Training";
}

<a href="@Url.Action("Apply", new { Model.EncodedAccountId, Model.EncodedPledgeId, Model.CacheKey })" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-m">Find a business to fund training for your apprentices</span>
            <h1 class="govuk-heading-xl">Add your business details</h1>
        </div>
    </div>
    <form method="post" class="validate-auto-complete">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group govuk-!-margin-bottom-9" das-highlight-error-for="Sectors" error-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Select one or more sectors to describe your business</legend>
                        <span das-validation-for="Sectors" class="govuk-error-message"></span>
                        <checkbox-list asp-for="Sectors" source="@Model.SectorOptions"></checkbox-list>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="locations-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Select the location where your apprentice will work
                        </legend>
                        <div id="locations-hint" class="govuk-hint">
                            Select all locations that apply
                        </div>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="location-1" name="locations" type="checkbox" value="Manchester">
                                <label class="govuk-label govuk-checkboxes__label" for="location-1">
                                    Manchester
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="location-2" name="locations" type="checkbox" value="Liverpool">
                                <label class="govuk-label govuk-checkboxes__label" for="location-2">
                                    Liverpool
                                </label>
                            </div>
                            <div class="govuk-checkboxes__divider">and/or</div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="another-location" name="locations" type="checkbox" value="phone" data-aria-controls="additional-location-field">
                                <label class="govuk-label govuk-checkboxes__label" for="another-location">
                                    Another location
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="additional-location-field">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-visually-hidden" for="additional-location">
                                    Additional location
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="additional-location" name="additional-location" type="text"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <section class="employer-details side-panel">
                    <partial name="/Views/Shared/_OpportunitySummary.cshtml" for="OpportunitySummaryViewModel" />
                </section>
            </div>
            <div class="govuk-grid-column-full">
                <div class="govuk-button-group">
                    <button id="opportunity-criteria-continue" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a href="@Url.Action("Apply", new { Model.EncodedAccountId, Model.EncodedPledgeId, Model.CacheKey })" class="govuk-back-link">Back</a>
                </div>
            </div>
        </div>
    </form>
</main>