@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.AmountViewModel
@{
    ViewData["Title"] = "Pledges";
}

<a href="@Url.Action("index", "pledges", new { Model.EncodedAccountId })" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Find a business to transfer your levy to</span>
            <h1 class="govuk-heading-xl">Pledge amount and option to hide organisation name</h1>
            <form method="post">
                @*<div class="app-highlight">
                    <p class="app-highlight__title">In this financial year you can pledge up to:</p>
                    <p class="app-highlight__figure">&pound;150,000</p>
                </div>*@
                <div class="govuk-form-group" das-highlight-error-for="Amount" error-class="govuk-form-group--error">
                    <label class="govuk-label" for="pledge-amount">
                        How much funding would you like to transfer?
                    </label>
                    @*<div class="govuk-hint">
                        Minimum pledge amount is &pound;6,000
                    </div>*@
                    <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.Amount)</span>
                    <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix govuk-!-font-weight-bold" aria-hidden="true">&pound;</div>
                        <input class="govuk-input govuk-input--width-10"  type="text"  asp-for="Amount" das-highlight-error-for="Amount" error-class="govuk-textarea--error" />
                    </div>
                </div>
                <div class="govuk-form-group" das-highlight-error-for="IsNamePublic" error-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend">
                            Would you like your pledge to show your organisation's name publicly?
                        </legend>
                        <span das-validation-for="IsNamePublic" class="govuk-error-message"></span>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="IsNamePublic" asp-for="IsNamePublic" type="radio" value="true" das-highlight-error-for="IsNamePublic" error-class="govuk-textarea--error" />
                                <label class="govuk-label govuk-radios__label" for="IsNamePublic">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="IsNamePublic-2" asp-for="IsNamePublic" type="radio" value="false" das-highlight-error-for="IsNamePublic" error-class="govuk-textarea--error" />
                                <label class="govuk-label govuk-radios__label" for="IsNamePublic-2">
                                    No, I'd like our organisation to be anonymous
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button class="govuk-button pledge-amount-continue" id="pledge-criteria-continue">Continue</button>
                    <a href="@Url.Action("index", "pledges", new { Model.EncodedAccountId })" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>