@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.CreateViewModel

@{
    ViewData["Title"] = "Pledges";
}

<a href="@Url.Action("index", "pledges", new { Model.EncodedAccountId })" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Find a business to transfer your levy to</span>
            <h1 class="govuk-heading-xl">Create a transfers pledge</h1>
        </div>
    </div>
</main>