@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.DetailViewModel

@{
    ViewData["Title"] = "Pledges";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Pledge @Model.EncodedPledgeId
                </h1>
            </div>
        </div>
    </div>
</main>