@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.LocationViewModel
@{
    ViewData["Title"] = "Pledges";
}

<a href="@Url.Action("Create", "Pledges", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Find a business to transfer your levy to</span>
            <h1 class="govuk-heading-xl">Add the locations you'd like to fund</h1>
            <form method="post" data-extra-field-rows="true" autocomplete="off" data-add-button-text="Add another location">
                <div class="govuk-form-group govuk-!-margin-bottom-3" das-highlight-error-for="Locations[0]" error-class="govuk-form-group--error">
                    <label class="govuk-label" asp-for="Locations[0]">
                        Start typing to find the city, town, region or local authority you'd like to pledge money to.
                    </label>
                    <div class="govuk-hint">
                        For example, Manchester, West Midlands, Leeds City Council
                    </div>
                    <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.Locations[0])</span>
                    <input class="govuk-input app-location-autocomplete" type="text" asp-for="Locations[0]" das-highlight-error-for="Locations[0]" error-class="govuk-input--error" />
                </div>
                <fieldset class="govuk-fieldset app-extra-fields__fieldset">
                    <legend class="govuk-visually-hidden">Additional locations</legend>
                    @for (int i = 1; i < 10; i++)
                    {
                        <div class="govuk-form-group app-extra-fields__form-group" das-highlight-error-for="Locations[i]" error-class="govuk-form-group--error">
                            <label class="govuk-label" asp-for="Locations[i]">
                                Additional city, town or local authority
                            </label>
                            <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.Locations[i])</span>
                            <input class="govuk-input app-location-autocomplete" type="text" asp-for="Locations[i]" das-highlight-error-for="Locations[i]" error-class="govuk-input--error" />
                        </div>
                    }
                </fieldset>
                <div class="govuk-inset-text">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input app-extra-fields__all-checkbox" type="checkbox"/>
                                <label class="govuk-label govuk-checkboxes__label">
                                    Or all of England
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-button-group">
                    <button id="pledge-criteria-continue" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a href="@Url.Action("Create", "Pledges", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-link govuk-back-link">Back</a>
                </div>
            </form>
        </div>
    </div>
</main>
